body{

	text-align: center;
	font-family: monospace;
	background: grey;
}

h1{

	font-size: 50px;
	color: rgba(0,0,0,.5);
	outline: 2px dashed black;
	text-transform: uppercase;
}

h3 {

	color: white;

}
